.competition {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.competition-element {
  margin-bottom: 3rem;
  background-color: #22242e;
  border-radius: 10px;
  display: flex;
  color: aliceblue;
  height: 6rem;
}

.country-img {
  width: 40%;
  height: 40%;
}

.country {
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: auto;
  width: 15rem;
}

.logo-img {
  height: 80%;
}

.logo {
  align-items: center;
  display: inherit;
}

.details {
  margin-left: 2rem;
}

.status {
  position: absolute;
  background-color: #6cd33b;
  padding: 0.1rem 4rem;
  border-radius: 10px;
  margin-right: 4rem;
}

.status-register {
  background-color: #5561cd;
  border-radius: 5px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.stats {
  margin-left: auto;
  margin-right: auto;
}

.view-participanti {
  border-radius: 5px;
  background-color: aliceblue;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 100px;
  color: #22242e;
}

.boxStyle {
  background-color: #6cd33b;
  color: #22242e;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  width: 6rem;
  margin: 0.5rem;
  margin-right: 2rem;
}
